@charset "UTF-8";
/**
** FICHIER DE STYLE DU SITE DE OHMYFOOD
** @AUTEUR Jérémy ANGELE
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap");
body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1330px;
  padding: 0 1rem;
  margin: 0 auto;
}

/** 
HEADER
*/
.header {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-navigation ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.header-navigation-item {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.2rem;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.header-navigation-item a {
  color: #901C1C;
}
.header-photographesTitle {
  color: #901C1C;
  font-weight: 400;
}
.header-photographesTitle:hover, .header-photographesTitle:focus {
  font-weight: 700;
}

.main {
  margin: 2rem 0;
}

/** 
ARTICLES
*/
.articles .photographe-portrait {
  display: block;
  text-align: center;
}
.articles .photographe-img {
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
}
.articles .photographe-name {
  color: #D3573C;
  font-weight: 400;
  margin: 0.5rem 0;
}
.articles .photographe-description {
  text-align: center;
}
.articles .photographe-location {
  color: #D3573C;
  font-weight: 400;
  font-size: 13px;
  margin: 0.5rem 0;
}
.articles .photographe-slogan {
  font-size: 10px;
  margin: 0.5rem 0;
}
.articles .photographe-price {
  font-size: 9px;
  margin: 0.5rem 0;
  color: #525252;
}
.articles .photographe-tags ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.articles .photographe-tags-item {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.2rem;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.articles .photographe-tags-item a {
  color: #901C1C;
}

a {
  text-decoration: none;
}

/* VARIABLE RESPONSIVE*/
/*MOBILE*/
/*TABLETTE*/
/*DESKTOP ET PLUS*/
@media only screen and (max-width: 767px) {
  .header {
    flex-wrap: wrap;
  }
  .header-svg {
    order: 1;
  }
  .header-svg svg {
    width: 150px;
  }
  .header-navigation {
    order: 3;
  }
  .header-photographesTitle {
    order: 2;
    font-size: 14px;
  }

  .articles .photographe {
    margin: 1rem 0;
  }
  .articles .photographe-img {
    height: 150px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .header {
    flex-wrap: wrap;
  }
  .header-svg {
    order: 1;
  }
  .header-svg svg {
    width: 150px;
  }
  .header-navigation {
    order: 3;
    width: 100%;
  }
  .header-photographesTitle {
    order: 2;
    font-size: 14px;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
  }
  .articles .photographe {
    margin: 1rem 0;
    width: 50%;
  }
  .articles .photographe-img {
    width: 40%;
    height: 150px;
  }
}
@media only screen and (min-width: 1101px) {
  .container {
    padding: 0 2rem;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles .photographe {
    margin: 1rem 0;
    width: 29%;
  }
  .articles .photographe-img {
    width: 50%;
    height: 150px;
  }
}

/*# sourceMappingURL=style.css.map */
