@charset "UTF-8";
/**
** FICHIER DE STYLE DU SITE DE OHMYFOOD
** @AUTEUR Jérémy ANGELE
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap");
body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1330px;
  padding: 0 1rem;
  margin: 0 auto;
}

.main {
  margin: 1rem 0;
}

a {
  text-decoration: none;
}

/** CSS PAGE ACCUEIL */
.linkToMain {
  margin: 0.5rem auto;
  background-color: #DB8876;
  color: #000000;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  border: solid 1px #DB8876;
  display: none;
  width: 180px;
  padding: 0.2rem;
  transition-duration: 0.5s;
}
.linkToMain:focus, .linkToMain:hover {
  transform: scale(1.1);
  background-color: #901C1C;
  color: #ffffff;
}

/** 
ARTICLES
*/
.photographe-portrait {
  display: block;
  text-align: center;
  transition-duration: 0.2s;
}
.photographe-portrait:focus, .photographe-portrait:hover {
  transform: scale(1.15);
}
.photographe-img {
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
}
.photographe-name {
  color: #D3573C;
  font-weight: 400;
  margin: 0.5rem 0;
}
.photographe-description {
  text-align: center;
}
.photographe-location {
  color: #D3573C;
  font-weight: 400;
  font-size: 13px;
  margin: 0.5rem 0;
}
.photographe-slogan {
  font-size: 10px;
  margin: 0.5rem 0;
}
.photographe-price {
  font-size: 9px;
  margin: 0.5rem 0;
  color: #525252;
}
.photographe-tags ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.photographe-tags-item a {
  color: #901C1C;
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.2rem;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
}
.photographe-tags-item a:focus, .photographe-tags-item a:hover {
  font-weight: bold;
  font-size: 20px;
  background-color: #901C1C;
  color: #ffffff;
  border: 0.5px solid #901C1C;
}

/*RESPONSIVE*/
@media only screen and (max-width: 1024px) {
  .articles .photographe {
    margin: 1rem 0;
  }
  .articles .photographe-img {
    height: 180px;
  }
}
/*DESKTOP ET PLUS*/
@media only screen and (min-width: 1101px) {
  .container {
    padding: 0 4rem;
  }

  .articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .articles .photographe {
    margin: 1rem 0;
    width: 29%;
  }
  .articles .photographe-img {
    width: 50%;
    height: 180px;
  }
}
/**************************
* SECTION BIOGRAPHIE
*************************/
.bio {
  width: 100%;
  display: flex;
}
.bio-portrait {
  display: block;
  text-align: center;
}
.bio-img {
  width: 50%;
  border-radius: 50%;
  object-fit: cover;
}
.bio-name {
  color: #D3573C;
  font-weight: 400;
  margin: 0.5rem 0;
}
.bio-description {
  text-align: center;
  margin-bottom: -20px;
}
.bio-location {
  color: #D3573C;
  font-weight: 400;
  font-size: 13px;
  margin: 0.5rem 0;
}
.bio-slogan {
  font-size: 10px;
  margin: 0.5rem 0;
}
.bio-price {
  font-size: 9px;
  margin: 0.5rem 0;
  color: #525252;
}
.bio-tags ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
}
.bio-tags-item a {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.2rem;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  color: #901C1C;
  transition-duration: 0.2s;
}
.bio-tags-item a:focus, .bio-tags-item a:hover {
  font-weight: bold;
  background-color: #901C1C;
  color: #ffffff;
  font-size: 20px;
  border: 0.5px solid #901C1C;
}

/**************************
* SECTION FILTRE
**************************/
.filter {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.filter-label {
  font-size: 18px;
  width: 8%;
  font-weight: bold;
  line-height: 23px;
}
.filter-dropbtn {
  background-color: #901C1C;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.filter-dropbtn:focus, .filter-dropbtn:hover, .filter-dropbtn:active {
  background: #D3573C;
  color: #000000;
  font-weight: bold;
}
.filter-dropdown {
  position: relative;
  display: inline-block;
}
.filter-dropdown-content {
  display: none;
  position: absolute;
  background-color: #901C1C;
  min-width: 125px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.filter-dropdown-content a {
  position: relative;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.filter-dropdown-content a:before {
  content: "";
  position: absolute;
  left: 10%;
  top: 0;
  height: 1px;
  width: 80%;
  border-top: 1px solid #ffffff;
}
.filter-dropdown-content a:focus, .filter-dropdown-content a:hover, .filter-dropdown-content a:active {
  background: #D3573C;
  color: #000000;
  font-weight: bold;
}
.filter-dropdown:hover, .filter-dropdown:focus, .filter-dropdown:active {
  background-color: #D3573C;
}
.filter-dropdown:hover svg, .filter-dropdown:focus svg, .filter-dropdown:active svg {
  animation: rotation 0.5s linear;
  animation-fill-mode: both;
}
.filter-dropdown:hover svg path, .filter-dropdown:focus svg path, .filter-dropdown:active svg path {
  stroke: #000000;
}

/* KEYFRAME SVG ANGLE */
@keyframes rotation {
  100% {
    transform: rotate(180deg);
  }
}
/**************************
* BUTTON
**************************/
.btn {
  padding: 0.2rem 1rem;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
}
.btn.default {
  background-color: #901C1C;
  border: 1px solid #901C1C;
  color: #ffffff;
  transition: 0.2s;
}
.btn.default:focus, .btn.default:hover, .btn.default:active {
  border: 1px solid #D3573C;
  background: #D3573C;
  color: #000000;
  font-weight: bold;
  transform: scale(1.1);
}

/**************************
* SECTION PORTFOLIO
**************************/
.portfolio-content {
  margin-bottom: 20px;
}
.portfolio-link:focus, .portfolio-link:hover, .portfolio-link:active {
  display: block;
  border: 2px solid #D3573C;
  color: #D3573C;
}
.portfolio-img {
  width: 100%;
  border-radius: 2%;
  object-fit: cover;
  height: 400px;
}
.portfolio-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #901C1C;
  position: relative;
}
.portfolio-like {
  position: absolute;
  right: 20px;
}
.portfolio-imgTitle {
  margin: 0;
  color: #901C1C;
}
.portfolio-icon {
  color: #901C1C;
}
.portfolio-icon:focus, .portfolio-icon:hover {
  color: #D3573C;
  cursor: pointer;
}

/**************************
* The ligthbox
**************************/
.ligthbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #FFFFFF;
}

/* Modal Content */
.ligthbox-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 100%;
  max-width: 1330px;
}
.ligthbox-content-imgTitle {
  color: #901C1C;
  margin: 0 2.8rem;
}

/* The Close Button */
.closeLigthbox {
  color: #901C1C;
  position: absolute;
  top: -10px;
  right: 13px;
  font-size: 35px;
  font-weight: bold;
}

.closeLigthbox:hover,
.closeLigthbox:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.slides {
  display: none;
  text-align: center;
  width: 80%;
  margin: auto;
}
.slides-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #901C1C;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/**************************
* Modal form 
**************************/
.bgroundModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: #DB8876;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #312E2E;
  padding-top: 10px;
}

.headerModal {
  display: flex;
  padding: 2% 4%;
}
.headerModal-titleFormModal {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}
.headerModal .closeModal {
  width: 50px;
  height: 50px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.headerModal .closeModal:before,
.headerModal .closeModal:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.headerModal .closeModal:before {
  transform: rotate(45deg);
}
.headerModal .closeModal:after {
  transform: rotate(-45deg);
}

.modal-body {
  padding: 15px 4%;
  margin: 15px auto;
}

label {
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input, textarea {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.textarea-control {
  margin: 0;
  padding: 0;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
}

.formSubmit {
  width: 100%;
  text-align: center;
}

/* custom select end */
.text-label {
  font-weight: normal;
  font-size: 16px;
}

.formData {
  margin-bottom: 1rem;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 1em;
  font-weight: bold;
  color: #000000;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.formData[data-error-visible=true]::after {
  opacity: 1;
}

.formData[data-error-visible=true] .text-control {
  border: 3px solid #000000;
}

.formData[data-error-visible=true] .textarea-control {
  border: 3px solid #000000;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0;
  }
}
@media only screen and (min-width: 769px) and (max-width: 800px) {
  .content {
    margin: 8% auto;
  }
}
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
/**************************
* RESPONSIVE
**************************/
@media only screen and (max-width: 1024px) {
  .bio {
    position: relative;
  }
  .bio-description {
    text-align: initial;
  }
  .bio-btn {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: 100px;
    margin-left: -60px;
  }
  .bio-tags {
    flex-wrap: wrap;
  }
  .bio-img {
    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .filter {
    display: none;
  }

  .popular {
    display: none;
  }
}
/*DESKTOP ET PLUS*/
@media only screen and (min-width: 1101px) {
  .bio {
    margin: 20px 0;
    justify-content: space-between;
    background-color: #FAFAFA;
    border-radius: 5px;
  }
  .bio-description {
    padding: 2rem;
    text-align: initial;
  }
  .bio-btn {
    margin-left: 4rem;
    padding: 1rem;
  }
  .bio-portrait {
    padding: 2rem;
  }
  .bio-img {
    margin: 2.5rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .popular {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #DB8876;
    color: #000000;
    position: fixed;
    border-radius: 5px;
    bottom: 0;
    right: 20px;
  }
  .popular i {
    position: relative;
    left: -10px;
  }

  .portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .portfolio-content {
    width: 30%;
  }
  .portfolio-img {
    height: 400px;
  }

  .ligthbox {
    padding-top: 10px;
  }
  .ligthbox-content {
    width: 40%;
  }
  .ligthbox .slides {
    width: 100%;
  }
  .ligthbox .slides-img {
    width: 85%;
    height: 500px;
  }
}
/** CSS HEADER / FOOTER */
/** 
HEADER
*/
.header {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-svg {
  transition-duration: 0.2s;
}
.header-svg:focus, .header-svg:hover {
  transform: scale(1.15);
}
.header-navigation ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}
.header-navigation-item a {
  padding: 0.2rem 0.5rem;
  margin: 0.2rem 0.2rem;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 2rem;
  color: #901C1C;
}
.header-navigation-item a:focus, .header-navigation-item a:hover {
  font-weight: bold;
  font-size: 20px;
  background-color: #901C1C;
  color: #ffffff;
  border: 0.5px solid #901C1C;
}
.header-photographesTitle {
  color: #901C1C;
  font-weight: 400;
}
.header-photographesTitle:hover, .header-photographesTitle:focus {
  font-weight: 700;
}

/** 
* RESPONSIVE
*/
@media only screen and (max-width: 1024px) {
  .header {
    flex-wrap: wrap;
  }
  .header-svg {
    order: 1;
  }
  .header-svg svg {
    width: 150px;
  }
  .header-navigation {
    order: 3;
    width: 100%;
  }
  .header-photographesTitle {
    order: 2;
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1100px) {
  .content {
    margin: 5% auto;
  }

  .portfolio-img {
    height: 700px;
  }

  .filter {
    display: none;
  }

  .popular {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
