.linkToMain{
    margin: 0.5rem auto;
    background-color: $color_background_btn_one;
    color: $color_black;
    border-radius: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    border : solid 1px $color_background_btn_one;
    display: none;
    width: 180px;
    padding: 0.2rem;
    transition-duration: 0.5s;

    &:focus{
        transform: scale(1.1)
    }
    
}

/** 
ARTICLES
*/
.photographe{
    &-portrait{
        display: block;
        text-align: center;
        transition-duration: 0.2s;
        &:focus,&:hover{
            transform: scale(1.15);
        }
    }

    &-img{
        width: 50%;
        border-radius: 50%;
        object-fit: cover;

    }

    &-name{
        color: $color_primary_two;
        font-weight: 400;
        margin: 0.5rem 0;
    }

    &-description{
        text-align: center;
    }

    &-location{
        color: $color_primary_two;
        font-weight: 400;
        font-size: 13px;
        margin: 0.5rem 0;
    }

    &-slogan{
        font-size: 10px;
        margin: 0.5rem 0;
    }

    &-price{
        font-size: 9px;
        margin: 0.5rem 0;
        color : $color_secondary_two;
    }

    &-tags{
        ul{
            width: 100%;
            display: flex;
            align-items: center;
            list-style: none;
            padding: 0 ;
            justify-content: center;
        }

        &-item{
            padding: 0.2rem .5rem;
            margin: .2rem .2rem;
            border: 0.5px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 11px;
            text-align: center;
            font-size: 12px;
            font-weight: 500;

            a{
                transition-duration: 0.2s;
                color: $color_primary_one;
                &:focus,&:hover{
                    font-weight: bold;
                    font-size: 20px;
                }
            }
        }
        
    }
}

