
/**************************
* SECTION BIOGRAPHIE
*************************/
.bio{
    width: 100%;
    display: flex;
    &-portrait{
        display: block;
        text-align: center;
    }

    &-img{
        width: 50%;
        border-radius: 50%;
        object-fit: cover;
    }

    &-name{
        color: $color_primary_two;
        font-weight: 400;
        margin: 0.5rem 0;
    }

    &-description{
        text-align: center;
        margin-bottom: -20px;
    }

    &-location{
        color: $color_primary_two;
        font-weight: 400;
        font-size: 13px;
        margin: 0.5rem 0;
    }

    &-slogan{
        font-size: 10px;
        margin: 0.5rem 0;
    }

    &-price{
        font-size: 9px;
        margin: 0.5rem 0;
        color : $color_secondary_two;
    }

    &-tags{
        ul{
            width: 100%;
            display: flex;
            list-style: none;
            padding: 0 ;
        }

        &-item{
            a{  
                padding: 0.2rem .5rem;
                margin: .2rem .2rem;
                border: 0.5px solid #C4C4C4;
                box-sizing: border-box;
                border-radius: 11px;
                text-align: center;
                font-size: 12px;
                font-weight: 500;
                color: $color_primary_one;
                transition-duration: 0.2s;
                &:focus,&:hover{
                  font-weight: bold;
                  background-color: $color_primary_one;
                  color: $color_white;
                  font-size: 20px;
                  border: 0.5px solid $color_primary_one;
                }
            }
        }
        
    }
}


/**************************
* SECTION FILTRE
**************************/
.filter{
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  &-label{
    font-size: 18px;
    width: 8%;
    font-weight: bold;
    line-height: 23px;
  }

  &-dropbtn {
    background-color: $color_primary_one;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:focus,&:hover,&:active{
      background: $color_primary_two;
      color: $color_black;
      font-weight: bold;
    }


    
  }

  &-dropdown {
    position: relative;
    display: inline-block;
    
    &-content {
      display: none;
      position: absolute;
      background-color: $color_primary_one;
      min-width: 125px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  
      a {
        position: relative;
        &:before {
          content : "";
          position: absolute;
          left: 10%;
          top  : 0;
          height  : 1px;
          width   : 80%;
          border-top:1px solid $color_white;
        }
        color: $color_white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        &:focus,&:hover,&:active{
          background: $color_primary_two;
          color: $color_black;
          font-weight: bold;
        }
      }    

    }
  
    &:hover,&:focus,&:active{
      background-color: $color_primary_two;
      svg {    
        animation: rotation .5s linear;
        animation-fill-mode: both;
        path{
          stroke : $color_black;
        }
      }
    }
  }

}//.filter{

/* KEYFRAME SVG ANGLE */
@keyframes rotation {
  100% {
    transform: rotate(180deg);
  }
}


/**************************
* BUTTON
**************************/
.btn{
  padding: .2rem 1rem ;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  &.default{
    background-color: $color_primary_one;
    border: 1px solid $color_primary_one;
    color: $color_white;
    transition: 0.2s;
    &:focus,&:hover,&:active{
      border: 1px solid $color_primary_two;
      background: $color_primary_two;
      color: $color_black;
      font-weight: bold;
      transform: scale(1.1);
    }
  }
}


/**************************
* SECTION PORTFOLIO
**************************/
.portfolio{
    &-content{
        margin-bottom: 20px;
    }

    &-link{
      &:focus,&:hover,&:active{
        display: block;
          border: 2px solid $color_primary_two;
          color: $color_primary_two;
      }
    }

    &-img{
        width: 100%;
        border-radius: 2%;
        object-fit: cover;
        height: 400px;
    }

    &-description{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $color_primary_one;  
        position: relative;   
    }

    &-like{
      position: absolute;
      right: 20px;
    }

    &-imgTitle{
        margin: 0;
        color: $color_primary_one;
    }

    &-icon{
      color: $color_primary_one;
      width: 20px;
      &:focus,&:hover{
        color: $color_primary_two;
        cursor: pointer;
      }
    }

}


/**************************
* The ligthbox
**************************/
.ligthbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 40%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $background_color_lightbox;
  }
  
  /* Modal Content */
  .ligthbox-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 100%;
    max-width: 1330px;
    &-imgTitle{
        color: $color_primary_one;       
        margin: 0 2.8rem;    
    }
  }
  
  /* The Close Button */
  .closeLigthbox {
    color: $color_primary_one;
    position: absolute;
    top: -10px;
    right: 13px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .closeLigthbox:hover,
  .closeLigthbox:focus {
    color: $color_black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .slides {
    display: none;
    text-align: center;
    width: 80%;
    margin: auto;
    &-img{
        width: 100%;
        height: 350px;
        object-fit: cover;       
    }
  }
  
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: $color_primary_one;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


/**************************
* Modal form 
**************************/
  .bgroundModal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(26, 39, 156, 0.4);
  }
  
  .content {
    margin: 5% auto;
    width: 100%;
    max-width: 500px;
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
    background: $color_background_modal;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    color: $color_label_modal;
    padding-top: 10px;
  }
  
  .headerModal{
    display: flex;
    padding: 2% 4%;
    &-titleFormModal{
        font-weight: 400;
        font-size: 2rem;
        margin: 0;
    }

    .closeModal {
        width: 50px;
        height: 50px;
        opacity: 1;
        cursor: pointer;
        transform: scale(0.7);
    }
    .closeModal:before,
    .closeModal:after {
        position: absolute;
        left: 15px;
        content: " ";
        height: 33px;
        width: 3px;
        background-color: #fff;
    }
    .closeModal:before {
        transform: rotate(45deg);
    }
    .closeModal:after {
        transform: rotate(-45deg);
    }
  }

  .modal-body {
    padding: 15px 4%;
    margin: 15px auto;
  }
  
  label {
    font-size: 24px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 11px;
  }

  input, textarea {
    padding: 8px;
    border: 0.8px solid #ccc;
    outline: none;
  }
  
  
  .text-control {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 8px;
    font-size: 20px;
    height: 48px;
  }

  .textarea-control {
    margin: 0;
    padding: 0;
    width: 100%;
    border-radius: 8px;
    font-size: 14px;
  }

  .formSubmit{
    width: 100%;
    text-align: center;
  }

  /* custom select end */
  .text-label {
    font-weight: normal;
    font-size: 16px;
  }

  .formData{
    margin-bottom: 1rem;
  }

  .formData[data-error]::after {
    content: attr(data-error);
    font-size: 1em;
    font-weight: bold;
    color: $color_black;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
  }
  .formData[data-error-visible="true"]::after {
    opacity: 1;
  }
  .formData[data-error-visible="true"] .text-control {
    border: 3px solid $color_black;
  }

  .formData[data-error-visible="true"] .textarea-control {
    border: 3px solid $color_black;
  }
 
  
  @media screen and (max-width: 768px) {
    .content {
      margin: 0;
    }
  }
  
  
  @media only screen and (min-width: 769px) and (max-width: 800px) {
    .content {
      margin: 8% auto;
    }
  }
  
  @keyframes modalopen {
    from {
      opacity: 0;
      transform: translateY(-150px);
    }
    to {
      opacity: 1;
    }
  }

/**************************
* RESPONSIVE
**************************/
  @media only screen and (max-width: 1024px){
    .bio{
        position: relative;
        &-description{
            text-align: initial;
        }

        &-btn{
            position: fixed;
            top: 50%;
            left: 50%;
            margin-top: 100px;
            margin-left: -60px;
        }

        &-tags{
            flex-wrap: wrap;
        }


        &-img{
            position: absolute;
            right: 0;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover; 
        }
    }//.photographe{
    
    .filter{
        display: none;
    }

    .popular{
        display: none;
    }
        
  }


/*DESKTOP ET PLUS*/
@media only screen and (min-width: 1101px){
    .bio{
        margin: 20px 0;
        justify-content: space-between;
        background-color: $background_color_bio;
        border-radius: 5px;
        &-description{
            padding: 2rem;
            text-align: initial;
        }

        &-btn{
            margin-left: 4rem;
            padding: 1rem;
        }

        &-portrait{
            padding: 2rem;
        }

        &-img{
            margin: 2.5rem;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    }//.photographe{

    .popular{
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $color_background_btn_one;
        color: $color_black;
        position: fixed;
        border-radius: 5px;
        bottom: 0;
        right: 20px;
        i{
            position: relative;
            left: -10px;
        }
    }

    .portfolio{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &-content{
            width: 30%;
        }

        &-img{
            height: 400px;
        }
    }

    .ligthbox{
        padding-top: 10px;
        &-content {
            width: 40%;
        }
        .slides{
            width: 100%;
            &-img{
                width: 85%;
                height: 500px;
                
            }
        }
    }
}    
  
  
  
