
/** 
HEADER
*/
.header{
    margin-top: 1em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-navigation{
        ul{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style: none;
            padding: 0 ;
            justify-content: center;
        }
        &-item{          
            padding: 0.2rem .5rem;
            margin: .2rem .2rem;
            border: 0.5px solid #C4C4C4;
            box-sizing: border-box;
            border-radius: 11px;
            text-align: center;
            font-size: 12px;
            font-weight: 500;    
            
            a{
                color: $color_primary_one;
            }
            
        }
    }

    &-photographesTitle{
        color: $color_primary_one;
        font-weight: 400;
        &:hover, &:focus {
            font-weight: 700;
        }
    }
}


