/**
** FICHIER DE STYLE DU SITE DE OHMYFOOD
** @AUTEUR Jérémy ANGELE
*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700;800;900&display=swap");

body{
    width: auto;
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

.container{
    max-width: 1330px;
    padding: 0 1rem;
    margin: 0 auto;
}





.main{
    margin: 1rem 0;
    position: relative;
}

a{
    text-decoration: none;
}



